.header{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.menu{
    margin: 10px 15px ;
    width: 30px;
    height: 30px;
    padding: 1px;
   
}
.ham{
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px 0; 
}
.logo{
    width: 140px;
    height: 65px;
}
.btn-icon{
    background: white;
    border: none;
}
.contain-form{
    margin-left: 230px;
    margin-right: 10px;
}
.search{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 35px;
    width: 450px;
    border-radius: 2rem;
}
input{
    border: none;
    border-radius: 2rem;
    padding-left: 1rem;
    width: 400px;
}
.search input:focus{
    border: 0px solid;
    box-shadow: none;
    border-color: blue;
    height: 35px;
}
.se{

    background-color: rgb(124, 123, 122);
    border-top-right-radius: 2rem;
    border-bottom-right-radius:2rem;
    height: 35px;
    width: 50px;
    padding: 2px;
}
.mic{
    margin-left: 10px;
    margin-right: 0px;
}
.mic img{
    width: 30px;
    height: 30px;

}
.test{
    margin-top: 10px;
    margin-left: 400px;
    cursor: pointer; 
   
}
.test:after{
    content: '\2807';
    font-size: 25px;
    
}
.sign{
    margin-left: auto;
}
.btn-signin{
    color: blue;
    margin: 15px;
    margin-left: auto;
    border: 1px solid blue;
    background: white;
    height: 35px;
    width: 100px;
    border-radius: 20px;
}